body {
    background-color: #5D91A2;
}

h1 {
    color: #A25D91;
    text-align: center;
    font-size: 80px;
}

a {
   font-size: 30px;
   font-family: 'Times New Roman', Times, serif;
   display: block;
   text-align: center;
}